@use "sass:color";

//**
// Alerts & Notifications
//**

.alert {
    border-left: 5px solid;
    padding: 15px;
  
    &.alert-danger {
        background: color.adjust($danger-color, $lightness: 35%);
        border-color: $danger-color;
        color: color.adjust($danger-color, $lightness: -15%);
    }
  
    &.alert-success {
        background: color.adjust($success-color, $lightness: 45%);
        border-color: $success-color;
        color: color.adjust($success-color, $lightness: -10%);
    }
  
    &.alert-info {
        background: color.adjust($info-color, $lightness: 48%);
        border-color: $info-color;
        color: color.adjust($info-color, $lightness: -10%);
    }
  
    &.alert-empty {
        background: #f4f4f4;
        border: 1px dashed $gray-light;
        text-align: center;
    }
    p:last-child {
        margin-bottom: 0;
    }
}