.bg-c-black {
    background-color: $black;
}
.bg-c-blue {
    background-color: $blue;
}
.bg-c-teal {
    background-color: $teal;
}
.bg-c-green {
    background-color: $green;
}
.bg-c-red {
    background-color: $red;
}
.bg-c-gray {
    background-color: $gray;
}
.bg-c-gray-light {
    background-color: $gray-light;
}
.bg-c-white {
    background-color: $white;
}
