.rounded-sm {
    border-radius: 10px;
}
.rounded-md {
    border-radius: 20px;
}
.rounded-lg {
    border-radius: 30px;
}
.rounded-full {
    border-radius: 9999px;
}

.border-none {
    border: none;
}

.border-easy {
    border: 1px solid $gray;
}
.border-heavy {
    border: 2px solid $black;
}

@include responsive($tab-break) {
    .tab-rounded-none {
        border-radius: 0;
    }
}