// Flexbox
.flex {
    display: flex;
}

// Direction
.flex-dir-row {
    flex-direction: row;
}
.flex-dir-row-rev {
    flex-direction: row-reverse;
}
.flex-dir-col {
    flex-direction: column;
}
.flex-dir-col-rev {
    flex-direction: column-reverse;
}

// Wrapping
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-wrap-rev {
    flex-wrap: wrap-reverse;
}

// Justify Content
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-space-between {
    justify-content: space-between;
}
.justify-space-around {
    justify-content: space-around;
}
.justify-space-evenly {
    justify-content: space-evenly;
}

// Align
.align-start {
    align-items: flex-start
}
.align-end {
    align-items: flex-end;
}
.align-center {
    align-items: center;
}
.align-baseline {
    align-items: baseline;
}
.align-stretch {
    align-items: stretch;
}

// Growth
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.flex-5 {
    flex: 5;
}
.flex-6 {
    flex: 6;
}


.mycssclass {
    color: red;
    .myinnnerclass {
        color: blue;
    }
}