// Flexbox
.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

// Direction
.flex-dir-row {
    flex-direction: row;
}

.flex-dir-row-rev {
    flex-direction: row-reverse;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-dir-col-rev {
    flex-direction: column-reverse;
}

@include responsive($tab-break) {
    .md_flex-dir-row {
        flex-direction: row;
    }

    .md_flex-dir-row-rev {
        flex-direction: row-reverse;
    }

    .md_flex-dir-col {
        flex-direction: column;
    }

    .md_flex-dir-col-rev {
        flex-direction: column-reverse;
    }
}

@include responsive($mobi-break) {
    .sm_flex-dir-row {
        flex-direction: row;
    }

    .sm_flex-dir-row-rev {
        flex-direction: row-reverse;
    }

    .sm_flex-dir-col {
        flex-direction: column;
    }

    .sm_flex-dir-col-rev {
        flex-direction: column-reverse;
    }
}

// Wrapping
.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-rev {
    flex-wrap: wrap-reverse;
}

// Justify Content
.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

// Align
.align-start,
.align-left {
    align-items: flex-start
}

.align-end,
.align-right {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.align-stretch {
    align-items: stretch;
}
@include responsive($tab-break) {
    .md_justify-space-between {
        justify-content: space-between;
    }
    
    .md_justify-space-around {
        justify-content: space-around;
    }
    
    .md_justify-space-evenly {
        justify-content: space-evenly;
    }
    .md_justify-center {
        justify-content: center;
    }
    .md_align-center {
        align-items: center;
    }
}
@include responsive($mobi-break) {
    .sm_justify-space-between {
        justify-content: space-between;
    }
    
    .sm_justify-space-around {
        justify-content: space-around;
    }
    
    .sm_justify-space-evenly {
        justify-content: space-evenly;
    }
    .sm_justify-center {
        justify-content: center;
    }
    .sm_align-center {
        align-items: center;
    }
}

// Growth
.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

// shrink
.flex-shrink-0 {
    flex: 0;
}

@include responsive($tab-break) {

    // Growth
    .md_flex-1 {
        flex: 1;
    }

    .md_flex-2 {
        flex: 2;
    }

    .md_flex-3 {
        flex: 3;
    }

    .md_flex-4 {
        flex: 4;
    }

    .md_flex-5 {
        flex: 5;
    }

    .md_flex-6 {
        flex: 6;
    }

    // shrink
    .md_flex-shrink-0 {
        flex: 0;
    }
}

@include responsive($mobi-break) {

    // Growth
    .sm_flex-1 {
        flex: 1;
    }

    .sm_flex-2 {
        flex: 2;
    }

    .sm_flex-3 {
        flex: 3;
    }

    .sm_flex-4 {
        flex: 4;
    }

    .sm_flex-5 {
        flex: 5;
    }

    .sm_flex-6 {
        flex: 6;
    }

    // shrink
    .md_flex-shrink-0 {
        flex: 0;
    }
}


// basis
.flex-xs {
    flex-basis: 50px;
}

.flex-sm {
    flex-basis: 200px;
}

.flex-md {
    flex-basis: 300px;
}

.flex-lg {
    flex-basis: 400px;
}

.flex-xl {
    flex-basis: 500px;
}

.flex-full {
    flex-basis: 100%;
}

.flex-1\/3 {
    flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
}

.flex-1\/2 {
    flex-basis: 50%;
    flex-basis: 50%;
}

@include responsive($tab-break) {
    .md_flex-xs {
        flex-basis: 50px;
    }

    .md_flex-sm {
        flex-basis: 200px;
    }

    .md_flex-md {
        flex-basis: 300px;
    }

    .md_flex-lg {
        flex-basis: 400px;
    }

    .md_flex-xl {
        flex-basis: 500px;
    }

    .md_flex-full {
        flex-basis: 100%;
    }

    .md_flex-1\/3 {
        flex-basis: 33.3333333333%;
        flex-basis: 33.3333333333%;
    }

    .md_flex-1\/2 {
        flex-basis: 50%;
        flex-basis: 50%;
    }
}

@include responsive($mobi-break) {
    .sm_flex-xs {
        flex-basis: 50px;
    }

    .sm_flex-sm {
        flex-basis: 200px;
    }

    .sm_flex-md {
        flex-basis: 300px;
    }

    .sm_flex-lg {
        flex-basis: 400px;
    }

    .sm_flex-xl {
        flex-basis: 500px;
    }

    .sm_flex-full {
        flex-basis: 100%;
    }

    .sm_flex-1\/3 {
        flex-basis: 33.3333333333%;
        flex-basis: 33.3333333333%;
    }

    .sm_flex-1\/2 {
        flex-basis: 50%;
        flex-basis: 50%;
    }
}