.mg-sm {
    margin: 15px;
}
.mg-md {
    margin: 30px;
}
.mg-lg {
    margin: 45px;
}
.mg-xl {
    margin: 60px;
}

.mg-t-sm {
    margin-top: 15px;
}
.mg-t-md {
    margin-top: 30px;
}
.mg-t-lg {
    margin-top: 45px;
}
.mg-t-xl {
    margin-top: 60px;
}

.mg-b-sm {
    margin-bottom: 15px;
}
.mg-b-md {
    margin-bottom: 30px;
}
.mg-b-lg {
    margin-bottom: 45px;
}
.mg-b-xl {
    margin-bottom: 60px;
}

.mg-l-sm {
    margin-left: 15px;
}
.mg-l-md {
    margin-left: 30px;
}
.mg-l-lg {
    margin-left: 45px;
}
.mg-l-xl {
    margin-left: 60px;
}

.mg-r-sm {
    margin-right: 15px;
}
.mg-r-md {
    margin-right: 30px;
}
.mg-r-lg {
    margin-right: 45px;
}
.mg-r-xl {
    margin-right: 60px;
}

.mg-center {
    margin-left: auto;
    margin-right: auto;
}