.pd-sm {
    padding: 15px;
}
.pd-md {
    padding: 30px;
}
.pd-lg {
    padding: 45px;
}
.pd-xl {
    padding: 60px;
}

.pd-t-sm {
    padding-top: 15px;
}
.pd-t-md {
    padding-top: 30px;
}
.pd-t-lg {
    padding-top: 45px;
}
.pd-t-xl {
    padding-top: 60px;
}

.pd-b-sm {
    padding-bottom: 15px;
}
.pd-b-md {
    padding-bottom: 30px;
}
.pd-b-lg {
    padding-bottom: 45px;
}
.pd-b-xl {
    padding-bottom: 60px;
}

.pd-l-sm {
    padding-left: 15px;
}
.pd-l-md {
    padding-left: 30px;
}
.pd-l-lg {
    padding-left: 45px;
}
.pd-l-xl {
    padding-left: 60px;
}

.pd-r-sm {
    padding-right: 15px;
}
.pd-r-md {
    padding-right: 30px;
}
.pd-r-lg {
    padding-right: 45px;
}
.pd-r-xl {
    padding-right: 60px;
}