@include responsive( $mobi-break ) {
    .mobi-hide {
        display: none;
    }
}
@include mobilefirst( $mon-break ) {
    .desktop-hide {
        display: none;
    }
}
@media screen and (min-width: $mobi-break) and (max-width: $mon-break) {
    .tab-hide {
        display: none;
    }
}