.w-xs {
    width: 50px;
}
.w-sm {
    width: 200px;
}
.w-md {
    width: 300px;
}
.w-lg {
    width: 400px;
}
.w-xl {
    width: 500px;
}
.w-full {
    width: 100%;
}
.w-screen {
    width: 100vh;
}

.max-w-xs {
    max-width: 50px;
}
.max-w-sm {
    max-width: 200px;
}
.max-w-md {
    max-width: 300px;
}
.max-w-lg {
    max-width: 400px;
}
.max-w-xl {
    max-width: 500px;
}
.max-w-full {
    max-width: 100%;
}
.max-w-screen {
    max-width: 100vh;
}