{{#each icons}}
    <div class="flex-col fa-helper faindex-{{@index}} mg-b-sm">
        <div class="h2 text-white text-center pd-sm rounded-full line-height-0"><i class="fab fa-{{name}}"></i></div>
    </div>
{{/each}}